<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Eureka!</title>
  <link rel="stylesheet" href="static/style.css">
  <script src="static/script.js"></script>
  
</head>
<body>
  <div class="card">
    <!-- Logo -->
    <img src="static/logo.jpeg" alt="Eureka Logo" class="logo">

    <!-- Texto -->
    <p>Faça Upload da sua foto para registrar</p>

    <!-- Input escondido -->
    <input type="file" id="upload" style="display: none;">

    <!-- Botões -->
     <!-- Formulário -->
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept="image/*">
        <button type="submit">Enviar</button>
    </form>
    <button class = "btn" onclick="reconhecer()">Reconhecer</button>

    <!-- Instagram -->
    <div class="instagram">
      Acessem nosso instagram <br>
      <a href="https://instagram.com/eureka.projeto" target="_blank">@eureka.projeto</a>
    </div>
  </div>

  
</body>
</html>
